<mat-toolbar>
  <mat-toolbar-row>
    <mat-label class="searchLabel">
      Keresés:
    </mat-label>
    <form [formGroup]="searchForm" (ngSubmit)="search()" >
        <mat-label class="fieldLabel">Név: </mat-label>

      <mat-form-field class="searchInput">
        <input matInput formControlName="nameField">
      </mat-form-field>
      <mat-label class="fieldLabel">Beosztás: </mat-label>

      <mat-form-field class="searchInput">
      <input matInput formControlName="titleField">
    </mat-form-field>

    </form>
  </mat-toolbar-row>
</mat-toolbar>
