<div class="topcenter">
  <mat-card>
    <mat-card-title>{{party.formattedName}}
      <button mat-button (click)="editParty()">
        <mat-icon>edit</mat-icon></button>
    </mat-card-title>
    <mat-card-subtitle>{{party.title}}</mat-card-subtitle>

    <mat-card-content>
      <img *ngIf="party.externalReferences" [src]="party.externalReferences[0]" [alt]="party.legalName">
      <br>
      <mat-label class="title">Teljes név: </mat-label>
      <mat-label class="value">{{party.fullName}}</mat-label><br>
      <mat-label class="title">Lakcím: </mat-label>
      <mat-label class="value">{{party.location}}</mat-label><br>
      <mat-label class="title">Születés: </mat-label>
      <mat-label class="value">{{this.party.birthDate | date}}, {{party.placeOfBirth}}, {{party.countryOfBirth}} </mat-label><br>

      <mat-label class="title">Nemzetiség: </mat-label>
      <mat-label class="value">{{party.nationality}}</mat-label><br>
      <mat-label class="title">Nem: </mat-label>
      <mat-label class="value">{{party.gender}}</mat-label><br>
      <mat-label class="title">Házassági állapot: </mat-label>
      <mat-label class="value">{{party.maritalStatus}}</mat-label><br>
      <mat-label *ngIf="party.skills.length>0" class="title">Képességek: </mat-label>
      <div class="subCategory" *ngFor="let skill of party.skills">
        <mat-label class="value">•{{skill}}</mat-label>
      </div>
      <mat-label *ngIf="party.languageAbilities.length>0" class="title">Nyelvtudás: </mat-label>
      <div class="subCategory" *ngFor="let language of party.languageAbilities">
        <mat-label class="value">•{{language}}</mat-label>
      </div>
      <mat-label *ngIf="party.disabilities.length>0" class="title">Fogyatékosság: </mat-label>
      <div class="subCategory"  *ngFor="let disability of party.disabilities">
        <mat-label class="value">•{{disability}}</mat-label>
      </div>
      <mat-label  *ngIf="party.contactMediums.length>0s" class="title">Elérhetőségek: </mat-label>
      <div class="subCategory" *ngFor="let contact of party.contactMediums">
        <mat-label class="title">•Típus: </mat-label>
        <mat-label class="value">{{contact.type}}, </mat-label>
        <mat-label class="title">Elérhetőség: </mat-label>
        <mat-label class="value">{{contact.contact}}</mat-label>
      </div>
      <mat-label *ngIf="party.creditProfiles.length>0" class="title">Kifizetési lehetőségek: </mat-label>
      <div class="subCategory"  *ngFor="let account of party.creditProfiles">
        <mat-label class="title">•Név: </mat-label>
        <mat-label class="value">{{account.name}}, </mat-label>
        <mat-label class="title">Számlaszám: </mat-label>
        <mat-label class="value">{{account.account}}</mat-label>
      </div>
      <mat-label *ngIf="party.taxExemptions.length>0" class="title">Adó kedvezmények: </mat-label>
      <div class="subCategory"  *ngFor="let exemption of party.taxExemptions">
        <mat-label class="title">•Ok: </mat-label>
        <mat-label class="value">{{exemption.reason}}, </mat-label>
        <mat-label class="title">Kedvezmény: </mat-label>
        <mat-label class="value">{{exemption.value}}%</mat-label>
      </div>
    </mat-card-content>

  </mat-card>
  
</div>
