/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/purple-green.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family:
    Roboto,
    "Helvetica Neue",
    sans-serif;
  background: #303030;
  color: white;
}

.topcenter {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  margin-top: 2px;
}
.loginRegisterCard{
  margin-top: 15px;
}
.alert {
  text-align: center;
  margin-left: -16px;
  margin-right:  -16px;
  color: rgb(185, 53, 36);
  background-color: rgb(245, 219, 215);
  border: 1px solid rgb(245, 176, 182);
  height: fit-content;
  line-height: 20px;
}
.container{
  width: 100%;

}
.flex{
  display: flex;
  flex-wrap: wrap;
}
app-details, app-searchpage, app-login, app-register{
  height: 95%;
}